
.contact-details__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-details__link {
  font-size: 15px;
  line-height: 25px;
  color: rgba($color-text2, 0.5);
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-accent;
  }
}
