.header {
  position: absolute;
  width: 100%;
  padding-top: 33px;
  top: 0;
  left: 0;
  z-index: 10000;

  @media (max-width: $desktop) {
    padding-top: 21px;
  }

  @media (max-width: $tablet) {
    padding-top: 22px;
  }
}

.header__container {
  display: flex;
  align-items: center;

  @media (max-width: $desktop) {
    padding: 0 25px;
  }

  @media (max-width: $tablet) {
    padding: 0 15px;
  }
}

.header__logo-link {
  margin-right: auto;
  pointer-events: none;
  cursor: default;
  padding-right: 10px;
  align-self: flex-start;

  @media (max-width: $tablet) {
    img {
      display: none;
    };
  }
}

.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 10px 88px;
  text-align: right;
  direction: rtl;

  @media (max-width: $desktop) {
    grid-gap: 10px 33px;
  }
}

.header__item {
  direction: initial;
}

.header__icon-link {
  fill: #00b2ff;
  transition: all 0.3s ease-in-out;

  @media (max-width: $desktop) {
    width: 24px;
    height: 24px;
  }
}

.header__link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s ease-in-out;

  span {
    margin-left: 16px;

    @media (max-width: $desktop) {
      display: none;
    }
  }

  &:hover {
    color: lighten($color-accent, 20);

    & .header__icon-link {
      transition: all 0.3s ease-in-out;
      fill: lighten($color-accent, 20);
    }
  }
}

.header__callback {
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 5px;
  flex-shrink: 0;
  align-self: flex-start;

  @media (max-width: $desktop) {
    display: none;
  }
}
