.hero {
  display: flex;
  background: url("../img/hero-bg.webp") $color-text2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 113px;
  padding-bottom: 160px;
  align-items: center;
  margin-bottom: 113px;
  overflow: hidden;

  @media (max-width: $desktop) {
    padding-top: 19px;
    padding-bottom: 70px;
    margin-bottom: 55px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 0;
    padding-top: 70px;
    margin-bottom: 37px;
    overflow: visible;
  }
}

.hero__content {
  flex: 0 0 100%;
  z-index: 2;
}

.hero__body {
  width: 80%;
  position: relative;

  @media (max-width: $desktop) {
    width: 70%;
    padding-left: 78px;
  }

  @media (max-width: $tablet) {
    padding-left: 0;
    width: 100%;
    padding-top: 84px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: $ff-third;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  max-width: 725px;
  transform: translateX(-5px);

  @media (max-width: $desktop) {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
  }

  @media (max-width: $tablet) {
    font-size: 40px;
    line-height: 47px;
    transform: translateX(0);
  }
}

.hero__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 94px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 156.8%;
  max-width: 718px;


  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $color-white;
    top: 20px;
    left: 0;

    @media (max-width: $desktop) {
      width: 33px;
      margin-bottom: 50px;
      top: 14px;
    }
  }

  @media (max-width: $desktop) {
    font-size: 18px;
    padding: 0 0 0 45px;
    margin-bottom: 52px;
  }

  @media (max-width: $tablet) {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.hero__advice {
  margin-left: 94px;
  height: 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-decoration: none;

  @media (max-width: $desktop) {
    margin-left: 47px;
    width: 379px;
  }

  @media (max-width: $tablet) {
    margin-left: 0;
    width: 100%;
  }
}

@media (min-width: $tablet) {
  .hero__full {
    display: block;
  }
}

.hero__short {
  display: none;
}

@media (max-width: $tablet) {
  .hero__full {
    display: none;
  }

  .hero__short {
    display: block;
  }
}

.hero__scroll {
  color: rgba($color-white, 0.5);
  transform: rotate(-90deg);
  position: absolute;
  top: 147%;
  left: -40px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:focus-within,
  &:hover {
    color: $color-accent;
  }

  @media (max-width: $desktop) {
    display: none;
  }
}

.hero__image {
  flex: 0 0 50%;
  transform: translate(-116%, 60px);
  position: relative;

  @media (max-width: $desktop) {
    transform: translate(-64%, -15%) scale(1.1);
  }

  @media (max-width: $tablet) {
    transform: translate(-100%, -35%);
    flex: 0 0 80%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    top: -170px;
    left: 257px;
    z-index: -1;
    background: url("../img/hero-bg.svg") transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96%;

    @media (max-width: $desktop) {
      width: 500px;
      height: 500px;
      top: -50px;
      left: -68px;
    }

    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.hero__image img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}
