.logo {

  @media (max-width: $tablet) {
    width: 38px;
    height: 38px;
    background-image: url("../img/logo-header-mobile.svg");
  }

  &--footer {
    width: 225px;
    margin-bottom: 53px;

    @media (max-width: $desktop) {
      margin-bottom: 0;
    }

    @media (max-width: $tablet) {
      transform: translateX(4px);
      margin-bottom: 26px;
    }
  }
}
