.logo {
  height: 52px;
  width: 202px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (max-width: $tablet) {
    width: 68px;
    height: 68px;
  }

  &--footer {
    width: 225px;
    margin-bottom: 53px;

    @media (max-width: $desktop) {
      margin-bottom: 0;
    }

    @media (max-width: $tablet) {
      transform: translateX(4px);
      margin-bottom: 26px;
    }
  }
}
