.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: max-content 1fr;

  column-gap: 70px;

  @media (max-width: 1200px) {
    column-gap: 20px;
  }

  @media (max-width: $desktop) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet) {
    padding-bottom: 20px;
  }
}

.navigation__item {
  align-self: center;
}

.navigation__link {
  font-size: 15px;
  line-height: 25px;
  color: rgba($color-text2, 0.5);
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-accent;
  }
}
