$ff-primary: "PTMono", "Courier New", monospace;
$ff-secondary: "Roboto", "Arial", sans-serif;
$ff-third: "Roboto Condensed", "Arial", sans-serif;

$color-black: #000000;
$color-dark: #788891;
$color-white: #ffffff;

$color-line: #ebebeb;
$color-footer-bg: #fafafa;
$color-text: #666666;
$color-text2: #1b2d37;

$color-accent: #00b2ff;
$color-error: #e20a0a;

$desktop: 1023px;
$tablet: 767px;
$mobile: 320px;
